@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --primary-colour: #c9cebd;
  --secondary-colour: #b2bcaa;
  --title-colour: #4c654c;
  --subtitle-colour: #846c5b;
  --neutral-colour: #6c6061;
  --navbar-hover-colour-text: #c9cebd;
  --neutral-colour-dark: #473d3e;
  --navbar-active-colour: #3d553d;
  --text: #000;
}

[data-theme=dark] {
  --primary-colour: #2f3b13;
  --secondary-colour: #384617;
  --title-colour: #8ab137;
  --subtitle-colour: #dac864;
  --neutral-colour: #ebc2c5;
  --navbar-hover-colour-text: #2c4119;
  --neutral-colour-dark: #92686d;
  --navbar-active-colour: #031b03;
  --text: #ebc2c5;
}

* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  color: var(--text);
}

.navlink:link, .navlink:visited {
  text-decoration: none;
  background-color: var(--secondary-colour);
}
.navlink:hover {
  background-color: var(--title-colour);
}
.navlink:active {
  background-color: var(--navbar-active-colour);
}

body {
  padding: 0;
  margin: 0;
}

.header, .main {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-colour);
}
.header__header--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 40px;
}
.header__header--links {
  padding-bottom: 20px;
  margin-top: 0px;
}
.header__navig {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-colour);
  flex-wrap: wrap;
}
.header__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 200px;
  height: 3vh;
  min-height: 30px;
  padding: 10px;
  color: var(--title-colour);
}
@media only screen and (max-width: 768px) {
  .header__card {
    font-size: 15px;
    min-height: 20px;
    min-width: 150px;
  }
}
.header__card:hover {
  color: var(--navbar-hover-colour-text);
  text-decoration: underline;
  text-underline-offset: 0.4em;
}
.header__card:active {
  color: var(--navbar-hover-colour-text);
}
.header__titleBox {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.header__titleBox--title {
  width: 40%;
  color: var(--title-colour);
  font-size: 100px;
  margin-left: 5%;
  text-align: center;
  font-family: "Titan One", cursive;
}
@media only screen and (max-width: 300px) {
  .header__titleBox--title {
    font-size: 60px;
    width: 20%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .header__titleBox--title {
    font-size: 70px;
    width: 20%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .header__titleBox--title {
    font-size: 80px;
    width: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .header__titleBox--title {
    text-align: right;
  }
}
.header__titleBox--image {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header__titleBox--image {
    height: 0px;
    width: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .header__titleBox--image {
    height: 30vh;
    width: 30vh;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .header__titleBox--image {
    height: 50vh;
    width: 50vh;
  }
}
@media only screen and (min-width: 1400px) {
  .header__titleBox--image {
    height: 60vh;
    width: 60vh;
  }
}
.header__titleBox--image--img {
  width: 40vh;
  height: 40vh;
}
@media only screen and (max-width: 768px) {
  .header__titleBox--image--img {
    height: 0px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .header__titleBox--image--img {
    height: 50vh;
    width: 50vh;
  }
}
@media only screen and (min-width: 1400px) {
  .header__titleBox--image--img {
    height: 60vh;
    width: 60vh;
  }
}

.main__subtitle {
  color: var(--subtitle-colour);
  margin-top: 50px;
}
.main__titlescreen {
  background-color: var(--secondary-colour);
  display: flex;
  align-items: center;
}
.main__titlescreen--para {
  width: 90vw;
}
.main__titlescreen--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 40px;
}
.main__titlescreen--box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__titlescreen--box--para {
  width: 80%;
}
@media only screen and (min-width: 768px) {
  .main__titlescreen--box--para {
    font-size: 20px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .main__titlescreen--box--para {
    font-size: 16px;
  }
}
.main__portfolio {
  background-color: var(--primary-colour);
}
.main__portfolio--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 40px;
}
.main__portfolio--flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .main__portfolio--flex {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) {
  .main__portfolio--flex {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
}
.main__portfolio--img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .main__portfolio--img {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .main__portfolio--img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 300px) {
  .main__portfolio--img {
    width: 40px;
    height: 40px;
  }
}
.main__portfolio--img:hover {
  border: 3px solid var(--neutral-colour-dark);
  border-radius: 10px;
}
.main__portfolio--para {
  width: 45%;
  height: 30vh;
  margin-top: 40px;
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .main__portfolio--para {
    font-size: 15px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .main__portfolio--para {
    height: 19vh;
    width: 90%;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 300px) {
  .main__portfolio--para {
    height: 17vh;
    width: 90%;
    margin-top: 4px;
  }
}
.main__portfolio--para--header {
  font-weight: bold;
}
.main__portfolio--para--link {
  cursor: pointer;
  text-decoration: none;
  background-color: none;
}
.main__portfolio--para--link:hover {
  text-decoration: none;
  background-color: none;
}
.main__experience {
  background-color: var(--secondary-colour);
  display: flex;
  align-items: center;
}
.main__experience--para {
  width: 90vw;
}
.main__experience--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 40px;
}
.main__experience--para {
  width: 90%;
}
@media only screen and (max-width: 300px) {
  .main__experience--para {
    font-size: 12px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .main__experience--para {
    font-size: 14px;
  }
}
.main__contact {
  background-color: var(--primary-colour);
  display: flex;
  align-items: center;
}
.main__contact--para {
  width: 90vw;
}
.main__contact--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 40px;
}
.main__contact--img--image {
  width: 300px;
}
@media only screen and (min-width: 768px) {
  .main__contact--img--image {
    width: 500px;
  }
}
.main .personals {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Pacifico";
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .main .personals {
    margin-top: 20px;
  }
}
.main .personals__logo {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 400px) {
  .main .personals__logo {
    width: 64px;
    height: 64px;
  }
}
.main .personals__github {
  background-image: url("./images/github-linkedin/github-black-32.png");
  margin-right: 10px;
}
.main .personals__github:hover {
  background-image: url("./images/github-linkedin/github-yellow-32.png");
}
.main .personals__github:active {
  background-image: url("./images/github-linkedin/github-orange-32.png");
}
@media only screen and (min-width: 400px) {
  .main .personals__github {
    background-image: url("./images/github-linkedin/github-black-64.png");
  }
  .main .personals__github:hover {
    background-image: url("./images/github-linkedin/github-yellow-64.png");
  }
  .main .personals__github:active {
    background-image: url("./images/github-linkedin/github-orange-64.png");
  }
}
.main .personals__linkedin {
  margin-left: 10px;
  background-image: url("./images/github-linkedin/linkedin-black-32.png");
}
.main .personals__linkedin:hover {
  background-image: url("./images/github-linkedin/linkedin-yellow-32.png");
}
.main .personals__linkedin:active {
  background-image: url("./images/github-linkedin/linkedin-orange-32.png");
}
@media only screen and (min-width: 400px) {
  .main .personals__linkedin {
    background-image: url("./images/github-linkedin/linkedin-black-64.png");
  }
  .main .personals__linkedin:hover {
    background-image: url("./images/github-linkedin/linkedin-yellow-64.png");
  }
  .main .personals__linkedin:active {
    background-image: url("./images/github-linkedin/linkedin-orange-64.png");
  }
}
